input {
  width: 100%;
  border-color: 1px solid black !important;
}

.button {
  width: 100%;
}

h2{
  font-weight: 800;
  padding-top : 5px;
}
h3 {
  text-align: center;
  padding-top: 5%;
}

#logout {
  right: 0;
}

#blue-btn{
  background: none repeat scroll 0 0 #0cbbfc;
  border:1px solid #0cbbfc;
  border-radius:5px;
  color: white;
  font-weight: 400;
  padding: 0.8em 0.9em;
  display: block;
  margin:0.8em 0em;
}
#find_us{
  padding-left:40px;
}
.other_links{
  padding: 1px;
}
#others{
  padding-left: 20%;
}
small{
  color:white;
}
#blogs_area{
  background-color: #dee2e6;
  padding: 5%;
}
select{
  width:100%;
  padding:5px;
}

img{
  justify-content: center;
}
#dp{
  justify-content: center;
  padding:10px;
}          
        
.blog_content .more_text{
	display: none;
}

.read_more{
	color:blue;
}
.read_more:hover{
  cursor: pointer;
}

#info{
  padding:5px;
}

.likes_link{
  margin:0;
  padding-top:3px;
  width: max-content;
}